<main class="page__main">
    <div class="meter-box">
        <p class="meter-counter"></p>
    </div>
    <form action="/" method="post" class="form-field">
        <label for="input" class="label-style">Insert a random number:</label>
        <input placeholder="Type the number here" class="input" type="num" id="input" name="number">
        <button type="submit" value="Check" class="btn-send">Check</button>
    </form>

    <div class="result-box">
        <p class="info"></p>
    </div>
        
</main>
